.live-label {
  display: flex;
  align-items: center;
  color: red;
  position: absolute;
  top: 10px;
  right: 10px; /* Adjust according to your card's padding */
  font-size: 1rem;
}

.live-icon {
  margin-right: 0.25rem;
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.ended-label {
  display: flex;
  align-items: center;
  color: grey;
  position: absolute;
  top: 10px;
  right: 10px; /* Ensure it aligns similarly to the Live label */
  font-size: 1rem;
}

.ended-icon {
  margin-right: 0.25rem;
}
